@charset "utf-8";
/* CSS Document */

body {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	background-color:#fff; margin: 0px;
}

.logo {position: absolute;}
.logo a {font-size: 37px; text-decoration: none; color: #fff;}
.header {width: 100%; background-color: #40c0cb; background-image: url("/images/header-bg.png"); background-repeat: repeat-x;}
.navbar {max-width: 1080px; width: 100%; min-height: 45px; margin: 0 auto;}
.menu {margin-left: 140px;}
.menu ul {margin:0; padding:0 40px 0 0; list-style: none;list-style-image: none;}
.menu ul li {display: inline-block; position: relative;}
.menu ul li a {color: #fff; display: block; font-size: 15px; padding: 15px 20px; text-decoration: none; text-shadow: 0px 0px 5px black;}
.menu ul li:hover {background-color: #00a8c6;}
.menu ul li ul {position: absolute; width: 180px; z-index: 2; background-color: #40c0cb; padding: 0px; display: none;}
.menu ul li ul li {width: 100%;}
.headerform {float: right; color: #fff; display: block; font-size: 15px; padding: 12px 0px;}
.headerform a {color: #fff;}
.headerform input[type=text] {width: 100px;}
.headerform input[type=password] {width: 100px;}
.content {max-width: 1080px; width: 100%; margin: 0 auto;}
.footer {max-width: 1080px; width: 100%; margin: 0 auto; text-align: center}
.default-content {max-width: 720px; width: 100%; margin: 0 auto;}

/* HTML Elements */
input[type=submit], button { border: 0px solid black; background-color: #00a8c6; padding: 3px 7px; color: #fff;}
input[type=text], input[type=password] { border: 0px solid black; border-bottom: 2px solid black; background-color: #00a8c6; padding: 3px 7px; color: #fff;}
h1, h2, h3, h4, h5, h6 {color: #8fbe00; margin: 5px;}
a {color: #8fbe00}
table {width: 100%;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" ""; }
blockquote {padding: 1em; margin:0.5em; margin-bottom: 1.5em; color: #000;font-style:italic; background-color: #aee239; border: 1px black dashed;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:0.8em 'andale mono', 'lucida console', monospace;border:1px dashed #2f6fab;background-color:#aee239;padding:1em;color:#000;} /*line-height:1.5;*/
code {padding:0.2em}
textarea {width: 100%; min-height: 300px;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}

/* Forum */
.postheader {float:left;}
.postcommands {float:right;}
.pagelink {padding: 2px}
.moderatorentry {float: left; padding-left: 5px;}
.readaccessentry {float: left; padding-left: 5px;}
.writeaccessentry {float: left; padding-left: 5px;}
textarea.description {width: 500px;height:30px;}
input.forumname {width:400px;font-size:1em;}
input.topictitle {width:700px;font-size:0.8em;}
.selectedpost {background-color: #cbe7f7;}
/*.topictitle {font-size:1em;width:610px;}*/
textarea.posttext {width:100%;}
.forumlist {border: 1px solid #aaa; padding: 10px;}
.forumlist ol {list-style-type: none;}
.forumlist h2,dl,dd,dt,ol {margin: 0px; padding: 0px;}
.forumlist dd,dt {display: inline; margin-right: 5px;}
.forumicon {width: 36px; height: 36px;}
.forumtext {}
.foruminfo {position: relative; padding-left:3px;}
.lastpost {position: absolute; top: 0px; right: 0px; width: 200px;}
.forumlist-header {background-color: #40c0cb; padding: 5px 5px 5px 10px; font-size: 1.2em;}
.forumlist-entry {background-color: #ddd; margin-top: 2px;}
.subforums {margin-right: 5px;}
.topiclist {border: 1px solid #aaa; padding: 10px;}
.topiclist ol {list-style-type: none;}
.topiclist h3,ol {margin: 0px; padding 0px;}
.topicinfo {position: relative; padding-left: 3px;}
.topicstats {position: absolute; top: 0px; right: 200px; width: 150px;}
.topiclist-header {background-color: #40c0cb; padding: 5px 5px 5px 10px; font-size: 1.2em;}
.topiclist-entry {background-color: #ddd; margin-top: 2px;}
.topictext {right: 350px;}
.editforum {background-color: #00a8c6; padding: 3px 7px; color: #fff; margin: 10px; display:inline-block;}
.newtopic {background-color: #00a8c6; padding: 3px 7px; color: #fff; margin: 10px; display:inline-block;}
.answear {background-color: #00a8c6; padding: 3px 7px; color: #fff; margin: 10px; display:inline-block;}
.topichead {margin-bottom: 10px;}
.postentries {list-style-type: none;}
.postentry {border: 1px solid #aaa; margin-bottom: 10px; display: block;}
.postheader {width: 100%; position: relative; padding: 0px; background-color: #555; display: inline-block; color: #fff;}
.postdescription {padding: 3px;}
.postcommands {position: absolute; top: 0px; right: 0px; padding: 3px;}
.postcontent p,h1,h2,h3,h4,h5,h6 {margin: 0px;}
.postcontent {padding: 5px;}

/* Messages   */
.errorBox {border: 1px solid red; background-color: #f77; padding: 5px; margin-bottom: 15px;}
.errorBox ul {margin-bottom: 0px;list-style-type:none;}
.warningBox {border: 1px solid #f60; background-color: #fa0; padding: 5px; margin-bottom: 15px;}
.warningBox ul {margin-bottom: 0px;list-style-type:none;}
.noticeBox {border: 1px solid #33f; background-color: #aaf; padding: 5px; margin-bottom: 15px;}
.noticeBox ul {margin-bottom: 0px;list-style-type:none;}